body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #ffe5b4; /* Naranjo claro pastel */
    text-align: center;
    color: #333;
  }
  
  h1 {
    margin-top: 30px;
    font-size: 2.5em;
  }
  
  .imagen-contenedor {
    margin: 40px auto;
    width: 300px;
  }
  
  .foto-principal {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
  }
  
  .mensaje-secreto {
    margin-top: 30px;
  }
  
  .mensaje-secreto p {
    font-size: 1.8em;
    font-style: italic;
    margin: 30px 0 20px;
    line-height: 1.4;
  }
  
  
  button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #ffad60;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
  }
  
  button:hover {
    background-color: #ff9933;
  }

  .foto-principal {
    transition: opacity 0.5s ease;
    opacity: 1;
  }
  
  .foto-fade-out {
    opacity: 0;
  }
  
  .botones-frases {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .botones-frases button {
    font-size: 2em;
    padding: 10px 20px;
  }
  
  .marco-contenedor {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 100px auto;
  }
  
  
  
  .imagen-contenedor {
    width: 300px;
    height: 400px;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
  }
  
  .foto-principal {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  
  .marco-flores {
    position: absolute;
    top: -80px;
    left: -80px;
    width: 460px;
    height: 560px;
    z-index: 3;
    pointer-events: none;
  }
  
  @media (max-width: 480px) {
    h1 {
      font-size: 1.5em;
      margin-top: 60px; /* lo bajamos un poco */
    }
  
    .marco-contenedor {
      width: 240px;
      height: 340px;
      margin: 20px auto;
    }
  
    .imagen-contenedor {
      width: 100%;
      height: 100%;
    }
  
    .foto-principal {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 16px;
    }
  
    .marco-flores {
      top: -80px;
      left: -80px;
      width: 400px;
      height: 440px;
    }
  
    .mensaje-secreto p {
      font-size: 1.1em;
      margin: 20px 10px;
    }
  
    .botones-frases {
      gap: 15px;
    }
  
    button {
      font-size: 1em;
      padding: 8px 16px;
    }
  }
  
  

  
  
  
  
  
  
  